# 4장

## 4.4.2 공백 문자

In [14]:
"ABC\t".strip()

'ABC'

In [15]:
"  ABC\t".lstrip()

'ABC\t'

In [16]:
"  ABC\t".rstrip()

'  ABC'

In [17]:
"ABC".strip("C")

'AB'

## 4.4.6 유효하지 않은 문자

In [18]:
s = "abc\xFF"
print(s) # 마지막 문자가 어떻게 되나 잘 보시죠.

abcÿ

## 4.4.7 불규칙한 날짜 시간 표기

In [19]:
import dateutil.parser as p
p.parse("August 13, 1985")

datetime.datetime(1985, 8, 13, 0, 0)

In [20]:
p.parse("2013-8-13")

datetime.datetime(2013, 8, 13, 0, 0)

In [21]:
p.parse("2013-8-13 4:15am")

datetime.datetime(2013, 8, 13, 4, 15)

# 4.5 예시: 데이터 포맷 정리

In [22]:
def get_first_last_name(s):
    INVALID_NAME_PARTS = ["mr", "ms", "mrs", "dr", "jr", "sir"]
    parts = s.lower().replace(".","").strip().split()
    parts = [p for p in parts if p not in INVALID_NAME_PARTS]
    if len(parts)==0:
        raise ValueError(
             "Name %s is formatted wrong" % s)
    first, last = parts[0], parts[-1]
    first = first[0].upper() + first[1:]
    last = last[0].upper() + last[1:]
    return first, last

def format_age(s):
    chars = list(s) # 문자 리스트
    digit_chars = [c for c in chars if c.isdigit()]
    return int("".join(digit_chars))

def format_date(s):
    MONTH_MAP = {"jan": "01", "feb": "02", "may": "05"}
    s = s.strip().lower().replace(",", "")
    m, d, y = s.split()
    if len(y) == 2: y = "19" + y
    if len(d) == 1: d = "0" + d
    return y + "-" + MONTH_MAP[m[:3]] + "-" + d

import pandas as pd
df = pd.read_csv("file.tsv", sep="|")
df["First Name"] = df["Name"].apply(
    lambda s: get_first_last_name(s)[0])
df["Last Name"] = df["Name"].apply(
    lambda s: get_first_last_name(s)[1])
df["Age"] = df["Age"].apply(format_age)
df["Birthdate"] = df["Birthdate"].apply(
    format_date).astype(pd.datetime)
print(df)

                Name  Age   Birthdate First Name Last Name
0  Ms. Janice Joplin   65  1943-01-19     Janice    Joplin
1         Bob Dylan    74  1941-05-24        Bob     Dylan
2     Billy Ray Joel   66  1941-02-09      Billy      Joel

## 4.6.1 정규식 문법

입력 파일이 없으니 문법만 참고하세요.

In [23]:
import re
# 이 코드는 "1600 Pennsylvania Ave."를 찾을 수 있지만
# "5 Stony Brook St"는 못찾습니다. 
# "Stony Brook"에 있는 띄어쓰기 때문입니다.
street_pattern = r"^[0-9]\s[A-Z][a-z]*" + \
    r"(Street|St|Rd|Road|Ave|Avenue|Blvd|Way|Wy)\.?$"
# 보다시피 띄어쓰기는 고려하지 않습니다.
city_pattern = r"^[A-Z][a-z]*,\s[A-Z]{2},[0-9]{5}$"
address_pattern = street_pattern + r"\n" \
    + city_pattern
# 문자열을 정규표현식 객체로 변환
address_re = re.compile(address_pattern)
text = open("some_file.txt", "r").read()
matches = re.findall(address_re, text)
# 찾아낸 문자열을 출력
open("addresses_w_space_between.txt",
    "w").write("\n\n".join(matches))

0